.dream {

  width: 100%;
  margin: 40px;
  height: 500px;

  div {
    display: inline;
    float: left;
    margin-right: 40px;
    height: 200px;
  }

}

.dream-portrait img {
  width: 300px;
}

.dream-line {
  padding: 0 30px 0 30px;
}

.dream-line .line {
  width: 3px;
  padding: 0px;
  margin: 0px;
  -webkit-transform: rotate(40deg);
  background-color: black;
}

.dream-body {
  font-size: 14px;
}
