#sidebar-header
  %h2 About the Project:
#sidebar-body
  %p #{t('about-description')}
  %p
    #{link_to("Submit", new_dream_submission_path)} your dream, or
    %br
    #{link_to("Tweet", "http://twitter.com/_iwasasleep")} your dream.
  %p WHILE I WAS ASLEEP

