#sidebar-header
  %h2 About the Project:
#sidebar-body
  %p #{t('about-description')}
  %p
    #{link_to("Submit", "/")} your dream, or
    %br
    #{link_to("Tweet", "/")} your dream.
  %p WHILE I WAS ASLEEP

